@model IEnumerable<R_Mall.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.T_Price)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Movy.M_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seat.Seat_Booked)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.T_Price)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Movy.M_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seat.Seat_Booked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.T_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.T_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.T_Id })
        </td>
    </tr>
}

</table>
